{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="PhotoReel">
    <a href="https://www.apoez.org/">
          <img src="{{ url_for('static', filename='img/websiteCreation.png') }}"
                width="1000"
                height="765"
                position="center"/>
    </a>
</div>
<h1>Welcome to the Official Website of Alpha Phi Omega, Epsilon Zeta Chapter!</h1>
    <div class="composite">
        <img src="{{ url_for('static', filename='img/F2022_Composite_1.png') }}"
            width="980" 
            height="590"
            position="center"/>
    </div>
<h1>Be a Leader, Be a Friend, Be of Service</h1>
<div class="whatIsAPO">
    <div class="texT1">
        <h2>What is Alpha Phi Omega?</h2>
            <div class="decor">
                <img src="{{ url_for('static', filename='img/decor.png') }}"
                    width="440"
                    height="15"
                    position="center"
                />
            </div>
            <h3>Alpha Phi Omega is a gender-inclusive national</h3>
            <h3>service fraternity affiliated and founded on Boy</h3>
            <h3>Scout Principles. As an organization, we strive</h3>
            <h3>to better our community, campus, country, and</h3>
            <h3>beyond through serving others and volunteerism,</h3>
            <h3>while promoting ideals of leadership, friendship,</h3>
            <h3>and service amongst members. First established</h3>
            <h3>on Lafayette's College campus (PA), in 1925,</h3>
            <h3>membership has since grown to over 525,000</h3>
            <h3>members and 325 chapters nationwide!</h3>
        </div>
        <div class="LFS">
            <img src="{{ url_for('static', filename='img/LeadershipFriendshipService.png') }}"
                width="750"
                height="540"
                position="center"
            />
    </div>
  </div>
    <div class="pin">
        <img src="{{ url_for('static', filename='img/apoPin.png') }}"
            width="70"
            height="70"
            position="center"/>
    </div>
    <div class="coatOfArms">
        <img src="{{ url_for('static', filename='img/coatOfArms.png') }}"
            width="70"
            height="70"
            position="center"/>
    </div>
    <div class="ApoEZ">
        <button>EZ's History</button>
    </div>
{% endblock %}